@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Super simple CQRS sample</h1>
    <p class="lead">
        Press the add order button to add an order an use breakpoints to see how it flows in the application.
    </p>
    <a class="btn btn-large btn-success" href="#">Add order</a>
</div>

<hr>

<div class="row-fluid" ng-controller="OrderController">
    
    <h2>Orders</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

